---
layout: default
title: Blog
---

<ul class=menu>
  <li><a class="menu__item menu__item_selected" href="/">Blog</a>
  <li><a class="menu__item" href="/talks/">Talks</a>
  <li><a class="menu__item" href="/about/">About</a>
</ul>

<div class="post">
  <h1>2017</h1>
  {% for post in site.posts %}
    {% assign year = post.date | date: "%-Y" %}
    {% if year == "2017" %}
      <p><a href="{{ post.url }}">{{ post.title }}</a> <span class=date>{{ post.date | date: "%-m/%-d"}}</span>
    {% endif %}
  {% endfor %}
  
  <h1>2016</h1>
  {% for post in site.posts %}
    {% assign year = post.date | date: "%-Y" %}
    {% if year == "2016" %}
      <p><a href="{{ post.url }}">{{ post.title }}</a> <span class=date>{{ post.date | date: "%-m/%-d"}}</span>
    {% endif %}
  {% endfor %}
  
  <h1>2015</h1>
  {% for post in site.posts %}
    {% assign year = post.date | date: "%-Y" %}
    {% if year == "2015" %}
      <p><a href="{{ post.url }}">{{ post.title }}</a> <span class=date>{{ post.date | date: "%-m/%-d"}}</span>
    {% endif %}
  {% endfor %}

  <h1>2014</h1>
  {% for post in site.posts %}
    {% assign year = post.date | date: "%-Y" %}
    {% if year == "2014" %}
      <p><a href="{{ post.url }}">{{ post.title }}</a> <span class=date>{{ post.date | date: "%-m/%-d"}}</span>
    {% endif %}
  {% endfor %}
