---
layout: default
title: Blog
---

<ul class=menu>
  <li><span class="menu__item menu__item_selected" href="/">Blog</span></li>
  <li><a class="menu__item" href="/talks/">Talks</a></li>
  <li><a class="menu__item" href="/projects/">Projects</a></li>
  <li><a class="menu__item" href="/design/">Logos</a></li>
  <!-- <li><a class="menu__item" href="/consulting/">UX&nbsp;Consulting</a></li> -->
  <li><a class="menu__item" href="/patrons/">Patrons</a></li>
  <div class="spacer"></div>
  <div class="dark_mode"></div>
</ul>

<div class="post">

  <div class="about">
    <div class="about_photo"></div>
    <div class="about_inner">
      <p>Hi!</p>
      <p>I’m Nikita. Here I write about programming and UI design <a style="margin-left: 5px" class="btn-subscribe" href="/blog/how-to-subscribe/" target="_blank"><svg viewBox="0 0 800 800"><path d="M493 652H392c0-134-111-244-244-244V307c189 0 345 156 345 345zm71 0c0-228-188-416-416-416V132c285 0 520 235 520 520z"/><circle cx="219" cy="581" r="71"/></svg> Subscribe</a></p>
      <p>I also create open-source stuff: Fira Code, AnyBar, DataScript and Rum.<br/>If you like what I do and want to get early access to my articles (along with other benefits), you should <a href="https://patreon.com/tonsky" target="_blank">support me on Patreon</a>.</p>
    </div>
  </div>

  {% assign published_posts = site.posts | where_exp: "post", "post.draft != true" %}
  {% assign posts_by_year = published_posts | group_by_exp: "post", "post.date | date: '%Y'"  %}
  {% for year in posts_by_year %}
    <h1>{{ year.name }}</h1>
    {% for post in year.items %}
      <p>{% if post.starred %}<span class="starred">★</span>{% endif %}<a href="{{ post.url }}">{{ post.title }}</a> <span class="date">{{ post.date | date: "%-m/%-d"}}</span>
    {% endfor %}
  {% endfor %}

<p class=comments>
  
</p>

</div>
