* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face { font-family: 'body';                     src: url('/fonts/IBMPlexSans-Text.woff') format('woff'); }
@font-face { font-family: 'body'; font-style: italic; src: url('/fonts/IBMPlexSans-TextItalic.woff') format('woff'); }
@font-face { font-family: 'body'; font-weight: 800;   src: url('/fonts/IBMPlexSans-Bold.woff') format('woff'); }

@font-face { font-family: 'mono';                     src: url('/fonts/IBMPlexMono-Text-Latin1.woff') format('woff'); }

body { font: 18px/28px body, sans-serif; }
pre, code { font-family: mono, monospace; }

body {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8A/dsp/wfbAwFy+CMuAAAAAElFTkSuQmCC); /* #FDDB29 */
  background-color: hsl(51, 100%, 59%); /* fallback */
  color: #000;
  -webkit-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  -moz-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 50px auto;
}
.page { width: 600px; margin: 0 auto; padding: 0 0 0 2px; }
.page_wide { width: 810px; }

.menu { width: 544px; margin: 0 auto 0; padding: 0 0 50px 0; vertical-align: top; display: flex; }
.menu > li { list-style: none; margin: 0 1em 0 0; vertical-align: top; }
.menu__item, a.menu__item { color: rgba(0,0,0,0.3); border-color: transparent; display: inline-block; }
.menu__item_selected,
a.menu__item_selected,
a.menu__item:hover { color: #000; border-bottom: 2px solid #000; }
.menu__item_inside, a.menu__item_inside { border-bottom: 2px solid rgba(0,0,0,0.2); }
.spacer { flex-grow: 1; }

.starred { margin: 0 0.5em 0 -1.5em; }

.post { width: 544px; margin: 15px auto; }

a { color: inherit; text-decoration: none; border-bottom: 2px solid rgba(0,0,0,0.2); }
a:hover { border-color: currentColor; }
p, blockquote { margin: 15px 0; }
h1 + p + blockquote { margin-bottom: 30px; margin-right: 1em; }
blockquote { padding-left: 1em; color: rgba(0,0,0,0.55); }
blockquote::before {content: "> "; float: left; margin: 0 0 0 -1em; }

.quote-author { text-align: right; font-size: 15px; }
strong { font-weight: 700; }
h1, h2 { margin: 2.5em 0 0.5em; }
h1 { font-size: 1.7em; }
h2 { font-size: 1.4em; }
h1 + h2 { margin: -0.75em 0 0.9em; }
.title { font-size: 2.5em; line-height: 50px; margin: 1.5em 0 0.75em 0; }

p > img, .fig, figure { margin: 2em 0; }
img { max-width: 100%; }

.fig, figure { text-align: center; font-size: 12px; line-height: 20px; font-style: italic; }
@media (min-width: 600px) {
  .fig, figure { width: 600px; margin-left: -28px; margin-right: -28px; }
}
.fig img, figure > img, figure > video, figure > a > img { margin: 0 auto 1em; display: block; border-radius: 3px; }
figure > video { max-width: 100%; }
.label { text-align: center; font-size: 12px; font-style: italic; margin: -1em 0 1em 0; }

code { font-style: normal; background: rgba(0,0,0,0.06); padding: 2px 6px; border-radius: 4px; font-size: 17px; }
pre { font-size: 16px;
      background: rgba(0,0,0,0.06);
      padding: 16px 30px 14px;
      margin: 1em -30px;
      border-radius: 8px;
      white-space: pre-wrap;
      word-wrap: break-word;
      font-style: normal; }
pre > code { background: none; padding: 0; font-size: inherit; white-space: unset; }

ul { padding: 0 0 0 1em; list-style-type: square; }
ul > li, ol > li { margin: 0.5em 0; }

sup, sub, .note-ref, .note-number { vertical-align: baseline; position: relative; font-size: .7em; line-height: 1; }
sup, .note-ref, .note-number { bottom: 1.4ex; }
sub { top: .5ex; }

.about_photo { float: left; width: 100px; height: 160px; margin-left: -150px; margin-top: -10px; background: url("/i/photo.png"); background-size: 200px; }
.about_photo:hover { background-position: 100%; }
.about_inner { font-size: 16px; line-height: 24px; border: 2px solid rgba(0,0,0,0.2); border-radius: 4px; padding: 10px 20px; margin: -12px -22px; }
.about_inner > p { margin: 0 0 8px; }
.btn-subscribe { line-height: 20px; text-decoration: none; background: rgba(0,0,0,0.1); border: none; font-size: 12px; padding: 0px 7px; display: inline-block; border-radius: 4px; position: relative; top: -1px; }
.btn-subscribe:hover { background: rgba(0,0,0,0.2); }
.btn-subscribe > svg { width: 21px; height: 21px; vertical-align: bottom; margin: 0 -2px 0 -5px; }

.footnote { margin: 0 5px;  }
.footnotes-br { width: 100px; height: 2px; background: #000000; margin-top: 5em; }
.footnotes > ol { padding-left: 1em;  }

.notes { font-size: 0.8em; }
.note-number { margin-left: -1em; }

.date { color: rgba(0,0,0,0.55); font-size: 14px; margin-left: 4px; }

.footer{ color: rgba(0,0,0,0.55); }
.footer { font-size: 16px; margin-bottom: 5em; }
.footer > .separator { margin: 0 4px; }
.footer > a { margin-right: 5px; }
.footer > a:hover { color: #000; }

.hoverable { object-fit: cover; object-position: center top; }
.hoverable.clicked { object-position: center bottom; }

@media (hover: hover) {
  .hoverable.clicked:hover { object-fit: cover; object-position: center top; }
  .hoverable:hover { object-position: center bottom; }
}

.preload::after {
  content: '';
  background-image: url(/i/flashlight.png);
}

.dark_mode { align-self: center; width: 50px; height: 24px; border-radius: 12px; background-image: url("/i/dark_mode.png"); background-size: 76px 24px; background-position: -26px 0; transition: 100ms; }
body.dark { background-color: #000; background-image: url(/i/flashlight.png); background-repeat: no-repeat; background-size: 500px 500px; }
body.dark .dark_mode { background-position: 0 0; }