.page { width: 810px; font-size: 14px; line-height: 20px;  } 

a { color: inherit; text-decoration: none; border-bottom: 1px solid hsl(215, 50%, 70%); }
a:hover { border-color: hsl(45,98%,77%); }

h1, h2, h3 { line-height: 1em; font-family: 'firasans', sans-serif; margin: 0.67em 0; letter-spacing: 0; -webkit-font-smoothing: antialiased; }
h1 { font-size: 20px; font-weight: 200; }
/* h2 { font-size: 14px; font-weight: 400; } */

table, tr, td { border-collapse:collapse; border-spacing:0; padding: 0; vertical-align: top; }


.q { margin-left: -0.5em; }
.at { color: hsl(215, 50%, 70%); }

.buttons { float: right; font-size: 12px; margin-top: 38px; }
.buttons a { color: hsl(215, 50%, 70%); border-bottom-style: dotted; }
.buttons a:hover { color: white; }

.card { width: 470px; height: 195px; border: 1px solid white; margin: 0 auto; padding: 30px 10px 30px 30px; position: relative; }
.card > .text { margin: -10px 0 0 100px; }
.card h1 { font-size: 26px; margin: 10px 0; }
.card p { margin: 0.5em 0; }
.card .links { margin-top: 2.5em; }
.card .links > a { margin: 0 0.3em 0 0; }
.photo { width: 75px; height: 75px; float: left; border: 1px solid white; background: url('photo@2x.jpg'); background-size: 73px; }
.photo img { width: 73px; height: 73px; display: none; }
.permalink, .version { position: absolute; bottom: -22px; font-size: 10px; color: hsl(215, 50%, 75%); }
.version { right: 0; }
.permalink { left: 0; display: none; }

.birth { clear: both; border: 1px solid white; width: 50px; height: 30px; margin: 0 auto; text-align: center; padding: 4px 0 0 0; }

.lc, .rc { width: 403px; }
.lc { padding-right: 33px; }
.rc { padding-left: 33px; }
.mc { width: 0px; border: 1px solid white; background: white }

.c_title { text-align: center; font-size: 10px; margin: 60px 0 40px 0;  }

.event { margin: 0 0 50px 0; }
.keywords { font-style: italic; }

.lc .ts { text-align: right; margin-right: -33px; }
.rc .ts { margin-left: -33px; }
.line { width: 28px; height: 1px; border-top: 1px solid white; display: inline-block; position: relative; bottom: 4px; }
.lc .line { margin: 0 0 0 5px; }
.rc .line { margin: 0 5px 0 0; }

.links.print { display: none; }

@media print {
  html { background: white; color: black; }
  body { margin-bottom: 0; }
  .mc, .line, .card, .birth { border-color: #BBB; }
  .menu, .space { display: none; }
  a { border-bottom: 1px solid #CCC; }
  a:hover { border-color: #000; }
  .links { display: none; }
  .links.print { display: block; }
  ul.links { list-style: none; padding: 0; }
  ul.links > li { display: block; }
  .buttons { display: none; }
  .at { color: #bbb; }
  .permalink, .version { color: #aaa; }
  .card { height: 240px; }
  .photo { background: transparent; }
  .photo img { display: block; }
  .card .links { margin-top: 1.3em; font-size: 12px; }
  .permalink { display: block; }
}
