---
layout: default
---
<ul class=menu>
  <li><a class="menu__item menu__item_inside" href="/">Blog</a>
  <li><a class="menu__item" href="/talks/">Talks</a>
  <li><a class="menu__item" href="/projects/">Projects</a>
</ul>


<div class="post">
  <h1>{{ page.title }}</h1>

  <p>{{ page.permalink }}</p>

  {{ content }}

  <p class=footer>
    <span class=date>{{ page.date | date: "%B %-d, %Y" }}</span>
    {% if page.hackernews_id or page.reddit_url %}
      <span class="separator">·</span>
      <span>Discuss on</span>
      {% if page.hackernews_id %}
        <a href="https://news.ycombinator.com/item?id={{ page.hackernews_id }}" target="_blank">HackerNews</a>
      {% endif %}
      {% if page.reddit_url %}
        <a href="{{ page.reddit_url }}" target="_blank">Reddit</a>
      {% endif %}
    {% endif %}
  </p>
  
  <div class="about">
    <img src="/photo.gif">
    <div class="about_inner">
      <p>Hi!</p>
      <p>I’m Nikita. Here I write about programming and UI design <a style="margin-left: 5px" class="btn-subscribe" href="http://tonsky.me/blog/atom.xml" target="_blank"><svg viewBox="0 0 800 800"><path d="M493 652H392c0-134-111-244-244-244V307c189 0 345 156 345 345zm71 0c0-228-188-416-416-416V132c285 0 520 235 520 520z"/><circle cx="219" cy="581" r="71"/></svg> Subscribe</a></p>
      <p>I also create open-source stuff: Fira Code, AnyBar, DataScript and Rum. If you like what I do and want to get early access to my articles (along with other benefits), you should <a href="https://patreon.com/tonsky" target="_blank">support me on Patreon</a>.</p>
    </div>
  </div>

</div>
