---
layout: default
---
<ul class=menu>
  <li><a class="menu__item menu__item_inside" href="/">Blog</a>
  <li><a class="menu__item" href="/talks/">Talks</a>
  <li><a class="menu__item" href="/about/">About</a>
</ul>


<div class="post">
  <h1>{{ page.title }}</h1>

  <p>{{ page.permalink }}</p>

  {{ content }}

  <p class=date>{{ page.date | date: "%B %-d, %Y" }}</p>

  <p class=comments>
    {% if page.hackernews_id or page.reddit_url %}
      <span>Discussion on</span>
      {% if page.hackernews_id %}
        <a href="https://news.ycombinator.com/item?id={{ page.hackernews_id }}">HackerNews</a>
      {% endif %}
      {% if page.reddit_url %}
        <a href="{{ page.reddit_url }}">Reddit</a>
      {% endif %}
    {% endif %}
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://tonsky.me{{ page.url }}" data-text="{{ page.title }}" data-via="nikitonsky">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </p>

</div>